h1, h2, h3 {
  font-family: "Helvetica Neue";
}

h3 {
  text-decoration: underline;
}

p, a, ol, ul {
  font-family: "HelveticaNeue-Light";
}

img {
  width: 300px;
  border: 1px solid #000;
}

a {
  text-decoration: none;
}
